/* semoga dapet kerja ya allahh.. */
/* bismillah semoga dapet bintang 5 wkwkwk */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue&display=swap');
    html{
        
    }
    body{
        font-family     : 'Quicksand', sans-serif;
        margin          :0;
        background: url('../image/background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    header{
        position   : sticky;
        display    : flex;
        top        :0px;
        padding    :0px 10px 0px 10px;
        width      :100%;
        max-height : 100px;
        overflow   : auto;
        box-sizing :border-box;
        background : #2193b0;  /* fallback for old browsers */
        background : -webkit-linear-gradient(to bottom, #6dd5ed, #60cae3);  /* Chrome 10-25, Safari 5.1-6 */
        background : linear-gradient(to bottom, #6dd5ed, #60cae3);
        box-shadow : 0px 3px #30899e;   
    }  
    @media screen and (max-width:2000px){
            .nama-logo{
            font-family : 'Bangers';
            flex-basis  : 40%;
            display     : inline;
            font-size   :  2vw;
            padding     : 15px 0px 15px 0px;
            text-shadow : -2px 2px black;
            color       : white;
        }
    }   
    @media screen and (max-width:380px){
        .nama-logo{
            font-family : 'Bangers';
            flex-basis  : 40%;
            display     : inline;
            font-size   :  90%;
            padding     : 15px 0px 15px 0px;
            text-shadow : -2px 2px black;
            color       : white;
        }  
    }
    .menu{
        position      :absolute;
        font-family   :'Comic Neue';
        height        : 100%;
        max-width     : 60%;
        display       :flex;
        flex-direction: row;
    }
    .menu > a:hover{
        flex-basis      : 100%;
        padding         : 20px;
        font-weight     : bold;
        color           : white;
        text-shadow     : -1px 1px #afa6a6;
        background-color: #2bbddb;
    }
    .active{
        flex-basis      : 100%;
        padding         : 20px;
        font-weight     : bold;
        color           : white;
        text-shadow     : -1px 1px #afa6a6;
        background-color: #2bbddb;
        border-bottom   : 2px solid #8ce0f3;
    }
    .sub-menu{
        flex-basis      : 100%;
        text-decoration : none;
        padding         : 20px;
        color           : white;
        font-weight     : bold;
    }
    main{
        text-align: left;
        font-size: 1vw;
    }
    footer{
        font-family      : 'Bangers';
        text-shadow      : -1px 1px black;
        font-size        :1vw;
        margin           :0px;
        padding          :10px;
        bottom           :0px;
        width            :100%;
        max-height       : 100px;
        text-align       : center;
        box-sizing       :border-box;
        color            : white;
        background-color : #2496b0;
        box-shadow       : -1px -2px #226b7c;
    }